.btn-success{
    background-color: rgb(96, 135, 160);
    border: 1px solid rgb(81, 166, 216);
    transition-duration: 0.2s;
    margin-right: 11px;

}
.btn-success:hover{
    background-color: rgb(0, 107, 168);
    border: 1px solid rgb(0, 107, 168);
    
}
.btn-warning{
    background-color: #003459;
    border: 1px solid #003459;
    color:whitesmoke;
    transition-duration: 0.2s;
}
.btn-warning:hover {
    background-color: rgb(0, 107, 168);
    border: 1px solid rgb(0, 107, 168);
}
.title{
    display: flex;
    justify-content: center;
    
    color:#003459;
    margin-bottom: 50px;
}
.table{
    border-top: 1px solid #003459;;
    border: 1px solid #212529;
}
thead{
    background-color:orange;

}
