<h1 class="title">My reviews</h1>
<div style="display: flex; justify-content: flex-end; margin-bottom: 30px;">
    
    
</div>

<div class="container">
<table class="table">
   
    <thead>
        <tr>
          
            <th>Doctor </th>
            <th>Office</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of reviews">
           
            <td>dr {{review.doctor.name}} {{review.doctor.surname}}</td>
            <td>{{review.office}}</td>
            <td>{{review.description}}</td>
            <td>{{review.date | date:'MM/dd/yyyy' }}</td>
           <!--| date:'MM/dd/yyyy'-->
        </tr>
    </tbody>
    </table>
</div>
