<div class="body">
    <div>

    </div>
    <div class="container">
        <div>
            <h1>Login</h1>
        </div>
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}

        </div>


        <div>
           <label>User name: </label> &nbsp; <input type="text" name="username" [(ngModel)]="username" placeholder="username">

        </div>
        <div>
            <label>Password :</label> &nbsp; <input type="password" name="password" [(ngModel)]="password" placeholder="******"> 
        </div>

        <!-- user name: {{username}} -->


        <div>
            <button (click)=handleJWTAuthLogin() class=" btn btn-success">Log in</button>
        </div>
    </div>
    <div>
        
    </div>
</div>