h1{
    align-items: center;
    font-weight: bold;
    font-size: 800;
}
label{
    padding: 7px;
    font-weight: bold;
    font-size: 800;
}
.body{
    display: flex;
   
}
.container{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(96, 163, 204, 0.76);
    color:#003459;;
    
}
div{
    padding:15px

}
.btn{
    align-items: flex-end;
    background-color:#003459;;
    border: solid #003459 1px;
    margin-left: 200px;
}
.btnS{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}