<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="menuClass">
            <img src="https://www.zilliondesigns.com/images/portfolio/healthcare-hospital/iStock-471629610-Converted.png" class="logo">
        </div>

        <ul class="navbar-nav">
            <li><a  *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/nikola" class="nav-link"> Home </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isDoctorLoggedIn()" routerLink="/welcome-doctor/nikola" class="nav-link"> Home </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isDoctorLoggedIn()" routerLink="/list-patient" class="nav-link"> Patient </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isDoctorLoggedIn()" routerLink="/review" class="nav-link"> Reviews </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isDoctorLoggedIn()" routerLink="/report" class="nav-link"> Reports </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/patient-reviews" class="nav-link"> My reviews </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/patient-reports" class="nav-link"> My reports </a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a  *ngIf="!hardcodedAuthenticationService.isUserLoggedIn() && !hardcodedAuthenticationService.isDoctorLoggedIn()" routerLink="/login" class="nav-link"> Login </a></li>
            <li><a  *ngIf="hardcodedAuthenticationService.isUserLoggedIn() || hardcodedAuthenticationService.isDoctorLoggedIn()"  routerLink="/logout" class="nav-link"> Logout </a></li>
        </ul>
    </nav>
</header>
