<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://facebook.com" class="navbar-brand"> facebook </a></div>

        <ul class="navbar-nav">
            <li><a href="/welcome/nikola" class="nav-link"> Home </a></li>
            <li><a href="/list-patient" class="nav-link"> Patient </a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a href="/login" class="nav-link"> Login </a></li>
            <li><a href="/logout" class="nav-link"> Logout </a></li>
        </ul>
    </nav>
</header>
