<div><h1>
    <button style="float: right;vertical-align:top;" class="btn btn-success " (click)="addReview()">Add review</button>
    Reviews
</h1></div>

<div class="alert alert-success" *ngIf='message!=""'>{{message}}</div>
<div class="container">
<table class="table">
   
    <thead>
        <tr>
         
            <th>Patient ID</th>
            <th>Doctor ID</th>
            <th>Office</th>
            <th>Description</th>
            <th>Date</th>
            <th>Period ID</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of reviews">
          
            <td>{{review.patientID}}</td>
            <td>{{review.doctorID}}</td>
            <td>{{review.office}}</td>
            <td>{{review.description}}</td>
            <td>{{review.date}}</td>
            <td>{{review.periodID}}</td>
            <td><button (click)="updateReview(review.doctorID,review.patientID)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteReview(review.doctorID,review.patientID)" class="btn btn-warning">Delete</button></td>
           
        </tr>
    </tbody>
    </table>
</div>






