<h1 class="title">Appointments</h1>
<div style="display: flex; justify-content: flex-end; margin-bottom: 30px;">
    
    <div>
        <button class="btn btn-success" (click)="addReview()">Add appointment</button>

    </div>
</div>

<div class="alert alert-success" *ngIf='message!=""'>{{message}}</div>
<div class="container">
<table class="table">
   
    <thead>
        <tr>
         
            <th>Patient </th>
            <th>Office</th>
            <th>Description</th>
            <th>Date</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Add report</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of reviews">
           
            <td>{{review.patient.name}} {{review.patient.surname}}</td>
            <td>{{review.office}}</td>
            <td>{{review.description}}</td>
            <td>{{review.date | date:'MM/dd/yyyy'}}</td>
            <td><button (click)="updateReview(review.id)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteReview(review.id,review.patient.id,review.doctor.id)" class="btn btn-warning">Delete</button></td>
            <td><button  (click)="addReport()"class="btn btn-warning">Add report</button></td>

        </tr>
    </tbody>
    </table>
</div>






