<div class="title">
    <h1 >Appointment</h1>
</div>

<body>
    <div class="container">

        <div class="alert alert-warning" *ngIf="reviewForm.dirty && reviewForm.invalid">Please fill in required form
            fields</div>
        <form class="form-group" (ngSubmit)="!reviewForm.invalid && SaveReview()" #reviewForm="ngForm">
            <tr class="first-row">
                <td class="date">
                    <label>Date:</label>
                    <input [ngModel]="reviewDb.date | date:'yyyy-MM-dd'" (ngModel)="reviewDb.date" class="form-control"
                        type="date" max="2021-09-11" id="date" name="date" size="40" name="date" required="required" [disabled]=true>
                </td>
                <td>
                    <div *ngIf="!isDisabled">
                        <label>Patient: &nbsp; &nbsp;</label>
                        <select [ngModel]="selectedPatient" (ngModelChange)="onChange($event)" name="selectedPatient"
                            [disabled]="isDisabled">
                            <option value="0" disabled selected>Select your patient</option>
                            <option [ngValue]="p" *ngFor="let p of patients" >{{p.name}} {{p.surname}}</option>
                        </select>
                    </div>

                </td>
                <td *ngIf="isDisabled">

                    <label class="updatePatient">Patient: {{patient.name}} {{patient.surname}}</label>

                </td>


            </tr>
            <tr>
              
            </tr>

            <tr style="display: flex; justify-content: flex-start; margin-left: 100px;">


                <td></td>

            </tr>
            <tr class="office">
                <label>Office: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</label>
                <input [(ngModel)]="reviewDb.office" class="form-control " size="40" type="text" id="office"
                    name="office" required="required" placeholder="Enter office number..">



            </tr>


            <tr class="description">

                <label>Description: &nbsp; </label>

                <textarea rows="7" [(ngModel)]="reviewDb.description" class="form-control " size="40" type="text"
                    id="description" name="description" required="required" minlength="5"
                    placeholder="Enter description.."></textarea>




            </tr>



            <tr style="display: flex; justify-content: flex-end;">

                <td>
                    <button type="submit" class="btn btn-success">Save</button>
                </td>
            </tr>

        </form>



    </div>





</body>