<h1 class="title">Learn more about our care</h1>
<div style="display: flex; justify-content: flex-end; margin-bottom: 30px;">

<div class="container mt-2">
  <div class="row app-container pt-2 pb-2">
      <div class="col-lg-10 offset-md-1">
          <div class="card mb-2">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">
                  Cancer care and infusion centers</h5>
                <p class="card-text">We provide care for many types of adult cancers and blood diseases and disorders. We have locations in Arlington, Dallas, Fort Worth, Cleburne and Las Colinas. We see patients across the Dallas/Fort Worth area.</p>
                <a href="https://www.usmd.com/services/services-specialty-care/cancer-care-infusion.html" class="btn btn-primary">Learn more</a>
              </div>
            </div>
            <div class="card mb-2">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">USMD urology</h5>
                <p class="card-text">At USMD, you will get high-quality care from a team you can trust. Our urologists are accepting new patients.</p>
                <a href="https://www.usmd.com/services/services-specialty-care/usmd-urology.html" class="btn btn-primary">Learn more</a>
              </div>
            </div>
            <div class="card mb-2">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">COVID-19: What you need to know</h5>
                <p class="card-text">Find the latest information on COVID-19 care and vaccines, and get answers and resources for yourself and your family.</p>
                <a href="https://www.usmd.com/covid-19.html" class="btn btn-primary">Learn more</a>
              </div>
            </div>
      </div>
  </div>
</div>
