<h1 class="title">Scientific articles</h1>
<div style="display: flex; justify-content: flex-end; margin-bottom: 30px;">

<div class="container mt-2">
    <div class="row app-container pt-2 pb-2">
        <div class="col-lg-10 offset-md-1">
            <div class="card mb-2">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">AAM - Genetics of Alzheimer's</h5>
                  <p class="card-text">Alzheimer's disease (AD) is a progressive neurodegenerative condition that is also the most common cause of dementia in the elderly.</p>
                  <a href="https://www.news-medical.net/health/AAM-Genetics-of-Alzheimers.aspx" class="btn btn-primary">See details</a>
                </div>
              </div>
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">The Microbiome of a Newborn</h5>
                  <p class="card-text">The human microbiome is a microbial community defined as the total of all microbes living in or on the human body.</p>
                  <a href="https://www.news-medical.net/health/The-microbiome-of-a-newborn.aspx" class="btn btn-primary">See details</a>
                </div>
              </div>
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Focus on post-covid fatigue</h5>
                  <p class="card-text">The novel Coronavirus infection often does not end with the acute phase of the disease but leaves medium and long-term effects.</p>
                  <a href="https://www.news-medical.net/whitepaper/20210907/Focus-on-post-covid-fatigue.aspx" class="btn btn-primary">See details</a>
                </div>
              </div>
        </div>
    </div>
</div>
